#canvas {
    box-shadow: 0 0 5px black;
}

body {
    background-image: linear-gradient(90deg, royalblue, forestgreen);
}

.div1 {
    color: white;
    display: flex;
    justify-content: space-around;
}

input {
    display: flex;
    justify-content: space-around;
}